@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
body {
  background-color: white;
  /* color:rgb(203, 250, 127); */
  margin: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #042331;
  transition: all 0.4s ease;
  z-index: 100;
}
.sidebar header {
  font-size: 23px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #ff6768;
  user-select: none;
}
.sidebar ul {
  display: block;
  font-size: 16px;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: white;
  box-sizing: border-box;

  transition: 0.4s;
}
.sidebar li {
  padding-left: 20px;
  margin: 5px;
}
.sidebar li:hover {
  padding-left: 35px;
  transition: 0.4s;
}
.sidebar ul i {
  margin-right: 15px;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  background: #ff6768;
  border-radius: 3px;
  cursor: pointer;
}
label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
  z-index: 100;
}
label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 195px;
}
#check:checked ~ section {
  margin-left: 250px;
}

/* Sidebar */

/* logout buttton */
.center {
  position: absolute;
  z-index: 101;
  bottom: 3%;
  right: 5%;
}
.checkbox {
  position: relative;
  width: 120px;
  height: 30px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.checkbox:checked {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  background: linear-gradient(0deg, #000, #6d6d6d);
  border-radius: 15px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}
.checkbox:checked::before {
  left: 40px;
}
.checkbox::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6d6d6d, #000);
  border-radius: 50%;
  transition: 0.5s;
}
.checkbox:checked::after {
  background: #63cdff;
  left: 105px;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}
/* logout button */

/* tennis level guide*/

.progress-done {
  max-width: 150px;
  border: 1px solid black;
}
.circle {
  display: flex;
  text-align: center;
  justify-content: center;
}
.level {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 50px;
}
.level button:hover {
  cursor: pointer;
  opacity: 1;
}
.level button {
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #d6ff20, #f6fceb);
  box-shadow: 0 0 1px #6dd1ff, 0 0 0 1px #353535, 0 0 0 1px #3e3e3e,
    inset 0 0 10px rgb(8, 8, 8), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.tennisLevelWrapper {
  width: 100%;
  padding-top: 100px;
}
.tennisLevelWrapper h2 {
  margin-top: 100px;
}

@media (max-width: 685px) {
  .circle {
    display: grid;
    grid-template-columns: auto auto;
  }
}
