body {
  background-color: rgb(187, 187, 187);
  /* color:rgb(203, 250, 127); */
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
